<% const d = new Date(); const year = d.getFullYear(); %>

<footer>
  <p class="copyright">&copy; <%= year %>, My-Secure App</p>
  <a id="trigger-error" href="/trigger-error" >Trigger Server Error (Test)</a>
</footer>
